################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Movie Services/Movie Services/obj
/Movie Services/.vs/Movie Services/FileContentIndex
/Movie Services/.vs/Movie Services/v17
*.v2
/Movie Services/MovieService.Domain/obj
/Movie Services/.vs/ProjectEvaluation
/Movie Services/MovieService.Infrastructure/obj
/Movie Services/Movie Services/bin/Debug/net6.0
/Movie Services/MovieService.Domain/bin/Debug/net6.0
/Movie Services/MovieService.Infrastructure/bin/Debug/net6.0
/Movie Services/MovieService.Business/obj
