################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieService/.vs
/MovieService/MovieService/obj
/MovieService/MovieService.Domain/obj
/MovieService/MovieService.Infrastructure/obj
/MovieService/MovieService/bin/Debug/net6.0
/MovieService/MovieService.Domain/bin/Debug/net6.0
/MovieService/MovieService.Infrastructure/bin/Debug/net6.0
/MovieService/MovieService.Business/obj
/MovieService/MovieService.Business/bin/Debug/net6.0
/MovieService/obj/Docker
/MovieService/bin/Debug
/MovieService/Movie Services/DatabaseBak/obj/Docker
/MovieService/Movie Services/obj/Docker
/MovieService/MovieService/Database_Bak/obj/Docker
/MovieService/obj/Debug
/MovieService.API_Gateway/obj/Debug/net6.0
/MovieService.API_Gateway/obj
